# dependencies
node_modules/
.npm/

# dependency locks besides npm
pnpm-lock.yaml
yarn.lock
bun.lockb

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
.npm-only-allow

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
storybook-static/
coverage/
test-results/
playwright-report/
playwright/.cache/

# typescript
*.tsbuildinfo

# coding LLMs
.kilocode/
.cursor/
.claude/
CLAUDE.md
prompts.txt

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# temp
**/preact-plugin-ui

# postgresql
pgdata/