{
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "semi": false,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next$",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^[../]",
    "^[./]"
  ]
}
